<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main html</h1>

    <a href="/Login">로그인</a>
    <a href="/UserList" >전체회원조회(ALL)</a>
    <!-- 
        1.a태그 클릭시 전체회원의 정보를 가져오는
        getAlluser 라우터로 접속
        2.getAlluser라우터에는 전체회원의 모든 정보를 가져오기
     -->
    <hr>
    <a href="Delete.html">회원삭제</a>
    <a href="join.html">회원가입</a>
    <a href="">회원정보수정</a>
    
</body>
</html>