<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Main html</h1>
    <a href="/page/login">로그인</a>
    <a href="/page/getAlluser">전체 회원 조회(ALL)</a>
    <a href="/page/selectOne">회원검색</a>
    <!-- 
        1. a태그 클릭시 전체 회원의 정보를 가져오는 getAlluser 라우터로 접속
        2. getAlluser라우터에서는 전체 회원의 모든 정보를 가져오기
     -->
    <hr>

    <a href="/page/join" value="회원가입">회원가입</input>
    <a href="/page/Delete" value="탈퇴">탈퇴</input>
    <a href="/page/Update">회원정보수정</a>
</body>
</html>